.css_data__label { }
.css_data__line { }
.css_data__obj { }
.css_hora__label { }
.css_hora__line { }
.css_hora__obj { }
.css_pa__label { }
.css_pa__line { }
.css_pa__obj { }
.css_fc__label { }
.css_fc__line {text-align:left;}
.css_fc__obj {text-align:left;}
.css_fr__label { }
.css_fr__line {text-align:left;}
.css_fr__obj {text-align:left;}
.css_tc__label { }
.css_tc__line {text-align:left;}
.css_tc__obj {text-align:left;}
.css_hgt__label { }
.css_hgt__line {text-align:left;}
.css_hgt__obj {text-align:left;}
.css_peso__label { }
.css_peso__line {text-align:left;}
.css_peso__obj {text-align:left;}
.css_altura__label { }
.css_altura__line {text-align:left;}
.css_altura__obj {text-align:left;}
.css_coren__label { }
.css_coren__line { }
.css_coren__obj { }
.css_alergia__label { }
.css_alergia__line { }
.css_alergia__obj { }
.css_tipo_alergia__label { }
.css_tipo_alergia__line { }
.css_tipo_alergia__obj { }
.css_id_usuario__label { }
.css_id_usuario__line {text-align:left;}
.css_id_usuario__obj {text-align:left;}
.css_id_paciente__label { }
.css_id_paciente__line {text-align:left;}
.css_id_paciente__obj {text-align:left;}
