.css_id_anotacao_label { }
.css_id_anotacao_line {text-align:left;}
.css_id_anotacao_obj {text-align:left;}
.css_texto_label { }
.css_texto_line { }
.css_texto_obj { }
.css_id_usuario_label { }
.css_id_usuario_line {text-align:left;}
.css_id_usuario_obj {text-align:left;}
.css_id_paciente_label { }
.css_id_paciente_line {text-align:left;}
.css_id_paciente_obj {text-align:left;}
.css_data_cadastro_label { }
.css_data_cadastro_line { }
.css_data_cadastro_obj { }
.css_tipo_anotacao_label { }
.css_tipo_anotacao_line { }
.css_tipo_anotacao_obj { }
