.css_id_servidor_saude_label { }
.css_id_servidor_saude_line {text-align:left;}
.css_id_servidor_saude_obj {text-align:left;}
.css_nome_label { }
.css_nome_line { }
.css_nome_obj { }
.css_cargo_label { }
.css_cargo_line { }
.css_cargo_obj { }
.css_data_nascimento_label { }
.css_data_nascimento_line { }
.css_data_nascimento_obj { }
.css_siape_label { }
.css_siape_line { }
.css_siape_obj { }
.css_numero_label { }
.css_numero_line { }
.css_numero_obj {text-align:right;}
.css_login_label { }
.css_login_line { }
.css_login_obj { }
.css_senha_label { }
.css_senha_line { }
.css_senha_obj { }
