.css_id_triagem_label { }
.css_id_triagem_line {text-align:left;}
.css_id_triagem_obj {text-align:left;}
.css_data_label { }
.css_data_line { }
.css_data_obj { }
.css_hora_label { }
.css_hora_line { }
.css_hora_obj { }
.css_pa_label { }
.css_pa_line { }
.css_pa_obj { }
.css_fc_label { }
.css_fc_line {text-align:left;}
.css_fc_obj {text-align:left;}
.css_fr_label { }
.css_fr_line {text-align:left;}
.css_fr_obj {text-align:left;}
.css_tc_label { }
.css_tc_line {text-align:left;}
.css_tc_obj {text-align:left;}
.css_hgt_label { }
.css_hgt_line {text-align:left;}
.css_hgt_obj {text-align:left;}
.css_peso_label { }
.css_peso_line {text-align:left;}
.css_peso_obj {text-align:left;}
.css_altura_label { }
.css_altura_line {text-align:left;}
.css_altura_obj {text-align:left;}
.css_coren_label { }
.css_coren_line { }
.css_coren_obj { }
.css_alergia_label { }
.css_alergia_line { }
.css_alergia_obj { }
.css_tipo_alergia_label { }
.css_tipo_alergia_line { }
.css_tipo_alergia_obj { }
.css_id_usuario_label { }
.css_id_usuario_line {text-align:left;}
.css_id_usuario_obj {text-align:left;}
.css_id_paciente_label { }
.css_id_paciente_line {text-align:left;}
.css_id_paciente_obj {text-align:left;}
