.css_id_atendimento_det_label {text-align: left;vertical-align: middle;}
.css_id_atendimento_det_line {height:0px;text-align: left;}
.css_id_servidor_saude_det_label {text-align: left;vertical-align: middle;}
.css_id_servidor_saude_det_line {height:0px;text-align: left;}
.css_tipo_servico_det_label {text-align: left;vertical-align: middle;}
.css_tipo_servico_det_line {height:0px;text-align: left;}
.css_procedimento_det_label {text-align: left;vertical-align: middle;}
.css_procedimento_det_line {height:0px;text-align: left;}
.css_tipo_paciente_det_label {text-align: left;vertical-align: middle;}
.css_tipo_paciente_det_line {height:0px;text-align: left;}
.css_data_hora_det_label {text-align: left;vertical-align: middle;}
.css_data_hora_det_line {height:0px;text-align: left;}
