.css_id_prescricao__label { }
.css_id_prescricao__line {text-align:left;}
.css_id_prescricao__obj {text-align:left;}
.css_data_cadastro__label { }
.css_data_cadastro__line { }
.css_data_cadastro__obj { }
.css_medicamento__label { }
.css_medicamento__line { }
.css_medicamento__obj { }
.css_prescritor__label { }
.css_prescritor__line { }
.css_prescritor__obj { }
.css_hora_de_adm__label { }
.css_hora_de_adm__line { }
.css_hora_de_adm__obj { }
.css_prof_que_adm__label { }
.css_prof_que_adm__line { }
.css_prof_que_adm__obj { }
.css_id_usuario__label { }
.css_id_usuario__line {text-align:left;}
.css_id_usuario__obj {text-align:left;}
.css_id_paciente__label { }
.css_id_paciente__line {text-align:left;}
.css_id_paciente__obj {text-align:left;}
.css_obs__label { }
.css_obs__line { }
.css_obs__obj { }
.css_selecionar__label { }
.css_selecionar__line { }
.css_selecionar__obj { }
