.css_id_prescricao_label { }
.css_id_prescricao_line {text-align:left;}
.css_id_prescricao_obj {text-align:left;}
.css_data_cadastro_label { }
.css_data_cadastro_line { }
.css_data_cadastro_obj { }
.css_medicamento_label { }
.css_medicamento_line { }
.css_medicamento_obj { }
.css_prescritor_label { }
.css_prescritor_line { }
.css_prescritor_obj { }
.css_hora_de_adm_label { }
.css_hora_de_adm_line { }
.css_hora_de_adm_obj { }
.css_prof_que_adm_label { }
.css_prof_que_adm_line { }
.css_prof_que_adm_obj { }
.css_id_paciente_label { }
.css_id_paciente_line {text-align:left;}
.css_id_paciente_obj {text-align:left;}
